form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgb(49, 155, 72);
  padding: 20px;
  border: 5px solid black;
  border-radius: 10px;
}

button {
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  border-radius: 1000px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid rgb(126, 23, 23);
  padding: 15px;
  text-align: center;
}
#feedback {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}
input {
  border-radius: 10px;
}
th {
  background-color: #f2f2f2;
}

#ekleme:hover {
  background-color: #1e8fd1;
}

#güncelle:hover {
  background-color: #e0d423;
}

#btnGo1:hover {
  transition: 0.3s;
  background-color: #0d6efd;
}

#btnGo2:hover {
  transition: 0.3s;
  background-color: #ffc107;
}

#delete:hover {
  transition: 0.3s;
  background-color: #dc3545;
}
::selection {
  background-color: #e0d423;
}

@media (max-width: 700px) {
  th,
  td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    font-size: 9.5px;
  }
  body {
    margin: 0;
  }
  button {
    background-color: white;
    border: 2px solid black;
    padding: 3px;
    border-radius: 1px;
  }

  #btnGo1:hover {
    transition: 0.3s;
    background-color: #0d6efd;
  }

  #btnGo2:hover {
    transition: 0.3s;
    background-color: #ffc107;
  }

  #delete:hover {
    transition: 0.3s;
    background-color: #dc3545;
  }
  ::selection {
    background-color: #e0d423;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgb(49, 155, 72);
    padding: 20px;
    border: 5px solid black;
    border-radius: 10px;
    width: 300px;
    margin-left: 150px;
  }
}
